<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Penguin Images 🐧</div>
    <p>
      Use images of <strong>African</strong> Penguins, <strong>Northern rockhopper</strong> Penguins, <strong>King</strong> Penguins, 
      <strong>Adélie</strong> Penguins, <strong>Fairy</strong> Penguins, <strong>Yellow-eyed</strong> Penguins, <strong>Chinstrap</strong> Penguins,
       and <strong>Magellanic</strong> Penguins!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>

  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.0.0/firebase-firestore.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCfEkyhp3LrTGsagrqMnxi8LM2NncEQEIk",
    authDomain: "classifier-a795c.firebaseapp.com",
    databaseURL: "https://classifier-a795c.firebaseio.com",
    projectId: "classifier-a795c",
    storageBucket: "",
    messagingSenderId: "489485796272",
    appId: "1:489485796272:web:adb57579a3d7b76f390c75",
    measurementId: "G-JHX70HKTMJ"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

</body>
</html>
